body{
    background-color: rgb(54, 54, 54);
}
div{
    background-color:rgb(177, 187, 185) ;
    opacity: 0.7;
    border-radius: 20px;
}
h4{
    color: rgb(219, 219, 219);
}
h3{
    color: rgb(150, 183, 211);
}
h2{
    color: rgb(55, 157, 247);
}